* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}

.tv {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	border: 20px solid rgba(251, 3, 3, 0.533);
	width: fit-content;
	border-radius: 20px;
}

.display img {
	width: 700px;
	height: 400px;
}

.display p {
	padding: 180px 325px;
}
